body{
    background-color: whitesmoke;
}

.title{
   text-align: center;
   color: brown;
}
.container{
   display: flex;
    flex-direction: row;
    
}

.textbox{
   width:90%;
   padding: 10px;
   border-radius: 10px;
    
}   
.button{
   width: 10%;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(122, 232, 74);
}

.button:hover{
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: black;
    border-radius: 5px;
}

li:hover {
    background-color: rgb(245, 244, 240);
}

.dltbtn{
    padding: 10px;
    margin-left: 10px;
    /* border: none; */
    width: 10%;
    background-color: black;
    cursor: pointer;
    color: red;
    border-radius: 10px;
}

.dltbtn:hover{

    background-color: red;
    color: white;
}
